@import "navbar.css";
@import "footer.css";
@import "userloginmodal.css";
@import "preordermenu.css";

main {
    padding-top: 2rem;
    margin: 40px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Big Shoulders Display', sans-serif;
    color: #1a2d73
}

.my-card {
    transition: all .5s;
}

.my-card:hover {
    transition: all .5s;
    transform: scale(1.1);
}
